#yourspace-data {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    background-color: #ebe7e0;
    padding: 15px 15px;
}

#yourspace-data > table {
    border: 1px solid black;
    width: 100%;
    background-color: black;
}

.table-head {

    padding: 3px;
    background-color: rgb(133, 128, 128);
}

.table-body {

    padding: 3px;
    background-color: white;
}