.pending-layout {
    background-color: #ebe7e0;
    height: 100%;
    width: 100%;
    padding: 28px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    box-sizing: border-box;
    position: relative;
}

.pending-layout-title {
    flex: 0 0 auto;
    min-height: 0;
}

.pending-layout-content {
    flex: 1;
    min-height: 0;
}
