#dashboardlayout {
    display: flex;
    height: 100vh;
}

#dashboardlayout-sidebar {
    flex-shrink: 0;
}

#dashboardlayout-content {
    flex: 1;
    overflow-y: auto;
    display: flex;
}

.dashboardlayout-page {
    flex: 1;
    width: 100%;
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-sizing: border-box;
}