.dashboard-layout {
    display: flex;
    height: 100vh;
}

.dashboard-layout-sidebar {
    flex-shrink: 0;
}

.dashboard-layout-content {
    flex: 1;
    display: flex;
    overflow-y: auto;
    background-image: url("../../assets/images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dashboard-layout-page {
    flex: 1;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-sizing: border-box;
}