    #dashboardlayout {
        display: flex;
        height: 100vh
    }

    #dashboardlayout-sidebar {
        flex-shrink: 0;
    }

    #dashboardlayout-content {
        flex: 1;
        overflow-y: auto
    }