.shared-entity-actions {
    border: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #dfd3b7;
}

.shared-entity-actions > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 8px 12px;
    cursor: pointer;
    font-family: "Sekuya";
    transition: background-color 0.2s ease, transform 0.1s ease;
    background-color: #4b4b4b;
    color: white;
}

.shared-entity-actions > #edit:hover {
    background-color: #44749d;
}

.shared-entity-actions > #edit:active {
    transform: scale(0.97);
    background-color: #304f6b;
}

.shared-entity-actions > #deactive:hover {
    background-color: #974545;
}

.shared-entity-actions > #deactive:active {
    transform: scale(0.97);
    background-color: #743a3a;
}
