#users-search {
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    justify-items: center;
    background-color: #c6d4e1;
}

#users-searchbar {
    display: flex;
    align-items: center;
    gap: 5px;
}

#users-searchinput {
    padding: 6px 10px;
}