.detail-sublayout {
    border: 1px solid black;
    display: flex;
}
.detail-sublayout > img {
    margin: 30px;
    width: 400px;
    height: 400px;
}

.detail-info {
    border-left: 1px solid black;
    padding: 25px;
    width: 100%;
    line-height: 45px;
}

.detail-info > h2 {
    text-align: center;
}
