.shared-data-table {
    border: 2px solid black;
    width: 100%;
    text-align: center;
    background-color: #dfd3b7;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding: 15px;
}

.shared-data-table > table {
    border: 1px solid black;
    width: 100%;
    background-color: black;
}

.shared-data-table-head {
    padding: 8px;
    background-color: #44749d;
}

.shared-data-table-cell {
    padding: 8px;
    background-color: white;
}

.shared-data-table-feedback {
    height: 120px;
}
