.shared-table-actions {
    border: 2px solid black;
    padding: 25px;
    background-color: #dfd3b7;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.shared-table-actions > button {
    padding: 5px;
}
