.activity-content-toolbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    border: 2px solid black;
    padding: 14px;
    background-color: #dfd3b7;
    gap: 16px;
}

.activity-content-toolbar-side {
    display: flex;
}

.activity-content-toolbar-side:first-child {
    justify-content: flex-start;
}

.activity-content-toolbar-center {
    display: flex;
    justify-content: center;
}