.dashboard {
    display: flex;
    flex-direction: column;
    background-color: #44749d;
    height: 100vh;
    padding: 50px 70px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.dashboard ul {
    list-style-type: none;
}

.dashboard-manasiness {
    color: #bdb8ad;         
    font-size: 30px;
    font-family: "Oswald";
    letter-spacing: 2px;
    text-decoration: none;

}

.dashboard-list {
    margin-top: 70px;
}


.dashboard-category {
    color: #bdb8ad;
}


.dashboard-sublists {
    margin-top: 40px;
    line-height: 2.7;
    font-weight: bold;
}

.dashboard-subcategory {
    color: #bdb8ad;
    display: flex;
    align-items: center;
}

.dashboard-subcategory:hover {
    cursor: pointer;
    color: #ffffff;
}


.dashboard-icon {
    margin-right: 10px; 
}

.dashboard::-webkit-scrollbar {
    display: none;
}