.dashboard-sidebar {
    display: flex;
    flex-direction: column;
    background-color: #44749d;
    height: 100vh;
    padding: 50px 70px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-sizing: border-box;
}

.dashboard-sidebar::-webkit-scrollbar {
    display: none;
}

.dashboard-sidebar ul {
    list-style: none;
}

.dashboard-sidebar-brand {
    color: #bdb8ad;
    font-size: 30px;
    font-family: 'Oswald';
    letter-spacing: 2px;
    text-decoration: none;
}

.dashboard-sidebar-list {
    margin-top: 70px;
}

.dashboard-sidebar-group {
    margin-top: 40px;
    line-height: 2.7;
    font-weight: bold;
}

.dashboard-sidebar-group-title {
    color: #bdb8ad;
}

.dashboard-sidebar-link {
    color: #bdb8ad;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.dashboard-sidebar-link:hover {
    cursor: pointer;
    color: #ffffff;
}

.dashboard-sidebar-icon {
    margin-right: 10px;
}