#action-content {
    border: 1px solid black;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    background-color: #c6d4e1;
}

.content-card {
    background-color: #bdb8ad;
    border: 2px solid black;
}

.content-card img {
    width: 250px;
    height: 150px;
}

.content-card > h3 {
    border-bottom: 2px solid black;
    padding: 7px;
    text-align: center;
}

.content-card > h4 {
    border-top: 2px solid black;
    padding: 5px;
}