.shared-stats-title{
    display: flex;
    flex: 0.6;
    padding: 28px 24px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.shared-stats-welcome {
    flex: 1;
}

.shared-stats-welcome > h2 {
    color: #44749d;
    font-family: 'Oswald';
}

.shared-stats-welcome-title {
    font-size: 55px;
    font-family: 'Sekuya';
    color: #44749d;
    font-weight: bold;
}


.shared-stats-description {
    flex: 0.6;
    font-family: 'Oswald';
}

.shared-stats-description > p {
    font-size: 20px;
}