.manasiness-notfound-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.manasiness-notfound-page > h1 {
    font-size: 70px;
    color: #44749d;
}

.manasiness-notfound-page > h2 {
    font-size: 40px;
    color: #44749d;
}

.manasiness-notfound-page > img {
    height: 450px;
}

.manasiness-notfound-page > button {
    margin-top: 40px;
    padding: 15px;
    background-color: #ebe7e0;
    
}