.shared-card-search-form {
    display: flex;
}

.shared-card-search-label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.shared-card-searchbar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.shared-card-search-input {
    padding: 6px 10px;
}
