.shared-person-history {
    border: 1px solid;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #bdb8ad  ;
}

.shared-person-history > h2 {
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    background-color: #ebe7e0;
}

.shared-person-history > table {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    background-color: black;
}

.shared-person-history > table > tbody {
    background-color: white;
}

.shared-person-history > table > thead {
    background-color: gray;
}

.shared-person-history th, .shared-person-history td {
    padding: 5px;
}