.shared-entity-form {
    width: 100%;
    padding: 30px;
    border: 2px solid black;
    background-color: #c6d4e1;
    display: flex;
    flex-direction: column;
    gap: 25px;                                                                       
}

.shared-entity-form-title > h4 {
    font-family: "Oswald";
    color: #44749d;
}

.shared-entity-form-title > h2 {
    font-family: "Sekuya";
    color: #44749d;
}

.shared-entity-form-rows {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 450px;
    overflow-y: auto;
    padding-right: 6px;
}


.shared-entity-form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.shared-entity-form-group > label {
    font-size: 18px;
    font-weight: bold;
}

.shared-entity-form-group > input,
.shared-entity-form-group > textarea,
.shared-entity-form-group > select {
    padding: 9px;
    border: 2px solid black;
    font: inherit;
}

.shared-entity-form-group > textarea {
    min-height: 120px;
    resize: none;
}

.shared-entity-form-actions {
    display: flex;
    gap: 10px;
}

.shared-entity-form-actions > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 8px 12px;
    cursor: pointer;
    font-family: "Sekuya";
    transition: background-color 0.2s ease, transform 0.1s ease;
    background-color: #4b4b4b;
    color: white;
}

.shared-entity-form-actions > #submit:hover {
    background-color: #44749d;
}

.shared-entity-form-actions > #submit:active {
    transform: scale(0.97);
    background-color: #304f6b;
}

.shared-entity-form-actions > #cancel:hover {
    background-color: #974545;
}

.shared-entity-form-actions > #cancel:active {
    transform: scale(0.97);
    background-color: #743a3a;
}
