#shared-login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#shared-login-form > button {
    margin-bottom: 15px;
}

.shared-login-form-link {
    border: none;
    background: transparent;
    padding: 0;
    color: rgb(44, 139, 247);
    font: inherit;
    cursor: pointer;
}

.shared-login-form-link:hover {
    color: white;
}
