#shared-register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#shared-register-form > button {
    padding: 10px;
}

#shared-register-form-fields > input {
    width: 50%;
}

#shared-register-form-fields {
    margin-bottom: 15px;
}
