.shared-register-space-form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 2px solid black;
    border-bottom: none;
    height: 100%;
}

.shared-register-space-form-title > h4 {
    font-family: "Oswald";
    font-size: 20px;
    color: #44749d;
}

.shared-register-space-form-title > h1 {
    font-family: "Sekuya";
    font-size: 30px;
    color: #44749d;
}

.shared-register-space-form-fields {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.shared-register-space-form-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.shared-register-space-form-field > label {
    font-size: 19px;
    font-weight: bold;
}

.shared-register-space-form-field > input,
.shared-register-space-form-field > select,
.shared-register-space-form-field > textarea {
    padding: 12px;
    border: 2px solid black;
}

.shared-register-space-form-actions {
    display: flex;
    margin-top: 34px;
    gap: 10px;
}

.shared-register-space-form-actions > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 8px 12px;
    cursor: pointer;
    font-family: "Sekuya";
    transition: background-color 0.2s ease, transform 0.1s ease;
    background-color: #4b4b4b;
    color: white;
}

.shared-register-space-form-actions > #submit:hover {
    background-color: #44749d;
}

.shared-register-space-form-actions > #submit:active {
    transform: scale(0.97);
    background-color: #304f6b;
}

.shared-register-space-form-actions > #cancel:hover {
    background-color: #974545;
}

.shared-register-space-form-actions > #cancel:active {
    transform: scale(0.97);
    background-color: #743a3a;
}
