.shared-page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.shared-page-title h1 {
    font-family: "Sekuya";
    color: #44749d;
}

.shared-page-title h2  {
    font-family: "Oswald";
}
