.shared-financial-content-cards {
    display: flex;
    gap: 50px;
}

.shared-financial-card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 20px;
    background-color: #dfd3b7;
}

.shared-financial-card-number{
    font-family: "Sekuya";
    color: #44749d;
    font-size: 30px;
}

.shared-financial-card > h3{
    font-family: "Oswald";
    color: #44749d;
}

.shared-financial-card > h2, .shared-financial-card > h4{
    font-family: "Sekuya";
}
