.shared-creator-banner {
    border: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    background-color: #ebe7e0;
}

.shared-creator-banner > a > img {
    width: 150px;
    object-fit: cover;
    height: 100%;
    border-radius: 12px;
}

.shared-creator-banner-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shared-creator-banner-info > p {
    font-size: 15px;
}

.shared-creator-banner-info-title > p{
    font-family: "Oswald";
    font-size: 18px;
}

.shared-creator-banner-info-title > h3{
    font-family: "Sekuya";
    font-size: 18px;
}

.shared-creator-banner-link {
    color: inherit;
}

.shared-creator-banner-info-footer {
    display: flex;
    gap: 5px;
    font-style: italic;
}
