.shared-creator-banner {
    border: 1px solid black;
    border-radius: 18px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    background-color: #ebe7e0;
}

.shared-creator-banner > a > img {
    width: 100px;
    object-fit: cover;
    border-radius: 12px;
}

.shared-creator-banner-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.shared-creator-banner-link {
    color: inherit;
}

.shared-creator-banner-label,
.shared-creator-banner-info > h3,
.shared-creator-banner-info > p {
    margin: 0;
}
