.activity-layout {
    background-color: #ebe7e0;
    height: 100%;
    overflow-y: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.activity-layout-title {
    flex: 2
}

.activity-layout-content {
    flex: 8;
    min-height: 0;
}