.shared-table-layout {
    border: 2px solid black;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: #ebe7e0;
    gap: 35px;
    height: 100%;
    min-height: 0;
    position: relative;
    overflow: hidden;
}
