.shared-card-grid {
    border: 2px solid black;
    padding: 30px 40px;
    background-color: #dfd3b7;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    overflow-y: auto;
}

.shared-card-grid-feedback {
    justify-content: center;
    align-items: center;
    font-family: "Oswald";
    font-size: 22px;
}

.shared-card-item {
    width: 260px;
    min-height: 360px;
    border: 2px solid black;
    background-color: #f4f1ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    gap: 12px;
}

.shared-card-item-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.shared-card-item-header > h3 {
    width: 100%;
    text-align: center;
    font-family: "Oswald";
    font-size: 20px;
    padding: 7px;
    border-bottom: 2px solid black;
}

.shared-card-status {
    width: fit-content;
    align-self: flex-end;
    border: 1px solid black;
    padding: 4px 8px;
    font-family: "Oswald";
    font-size: 14px;
    background-color: #ebe7e0;
}

.shared-card-status-active {
    background-color: #c6d4e1;
}

.shared-card-status-inactive {
    background-color: #d8c6c6;
}

.shared-card-item > img {
    width: 80%;
    height: 130px;
    border: 1px solid black;
}

.shared-card-details {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: "Oswald";
}

.shared-card-details > p {
    border: 1px solid black;
    background-color: white;
    padding: 6px 8px;
    min-height: 34px;
    display: flex;
    align-items: center;
}

.shared-card-item > button {
    width: 100%;
    padding: 8px;
    font-family: "Sekuya";
    background-color: #759dc0;
    color: white;
    cursor: pointer;
}

.shared-card-item > button:hover {
    background-color: #648caf;
}

.shared-card-item > button:active {
    background-color: #537c9f;
}
