.shared-entity-details {
    border: 1px solid black;
    display: flex;
}

.shared-entity-details-image {
    border: 1px solid black;
}

.shared-entity-details-image > img {
    width: 100%;
    height: 100%;

}

.shared-entity-details-content {
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding: 30px;
    width: 100%;
    background-color: #dfd3b7;
    border: 1px solid black;
}

.shared-entity-details-content > h2{
    text-align: center;
}

.shared-entity-details-box {
    display: flex;
    padding: 7px;
    border: 2px solid black;
    align-items: center;
    font-size: 17px;
    background-color: white;
}

.shared-entity-details-box > legend {
    font-family: "Sekuya";
    color: #44749d;
}

.shared-entity-details-box > p {
    font-family: "Oswald";
}