#dashboard {
    display: flex;
    flex-direction: column;
    background-color: #44749d;
    height: 100vh;
    padding: 50px 70px;
    
}

#dashboard ul {
    list-style-type: none;
}

/* TITLE */
#dashboard-manasiness {
    color: #bdb8ad;         
    font-size: 30px;
    font-family: "Oswald";
    letter-spacing: 2px;
    text-decoration: none;

}


/* CATEGORIES */
#dashboard-list {
    margin-top: 70px;
}


.dashboard-category {
    color: #bdb8ad;
}

/* SUBCATEGORIES*/

.dashboard-sublists {
    margin-top: 40px;
    line-height: 2.7;
    font-weight: bold;
}

.dashboard-subcategory {
    color: #bdb8ad;
    display: flex;
    align-items: center;
}

.dashboard-subcategory:hover {
    cursor: pointer;
    color: #ffffff;
}

/* ICONS */


.dashboard-icon {
    margin-right: 10px; 
}
