.shared-table-filter {
    border: 1px solid black;
    padding: 10px;
    background-color: #ebe7e0;
}

.shared-table-filter > legend {
    padding: 0 4px;
    margin: 0 auto;
}

.shared-table-filter-options {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.shared-table-filter-option {
    display: flex;
    align-items: center;
    gap: 8px;
}
