.home {
    background-color: #ebe7e0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    border: 1px solid black
}

.home-welcome {
    display: flex;
    flex: 0.6;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.home-welcome-left {
    flex: 1;
}

.home-welcome-left > h2 {
    color: #44749d;
    font-family: 'Oswald';
}

.home-welcome-right {
    flex: 0.6;
    font-family: 'Oswald';
}

.home-welcome-title {
    font-size: 45px;
    font-family: 'Sekuya';
    color: #44749d;
    font-weight: bold;
}

.home-welcome-description {
    font-size: 20px;
}

.home-stats-section-information {
    display: flex;
    height: 100%;
}

.home-stats {
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 10px;
}

.home-stats-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid black;
}

.home-stats-section-title {
    border: 1px solid black;
    padding: 12px;
    background-color: #F0EDE8 ;
    color: #44749d;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Oswald';
}

.home-stats-section-date {
    color: #44749d;
    border: 1px solid black;
    padding: 15px;
    height: 100%;
    flex: 1;
    background-color: #F0EDE8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home-stats-section-time {
    font-family: "EB Garamond";
    font-weight: bold;
    font-size: 30px;
}

.home-stats-section-amount {
    font-size: 30px;
    font-family: 'Sekuya';
}

.home-stats-section-qunatity {
    font-family: "EB Garamond";
    font-size: 20px;
    font-weight: 600;
}