.pending-content {
    height: 100%;
    display: flex;
    gap: 15px;
}

.pending-content-section {
    flex: 1;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.pending-content-title {
    font-family: "Sekuya";
    color: #44749d;
    text-align: center;
    padding: 8px;
    font-size: 18px;
    border-bottom: 2px solid black;
}

.pending-content-users {
    flex: 1;
    min-height: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    overflow-y: auto;
}

.pending-content-user {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: "Oswald";
    border: 2px solid black;
    padding: 8px;
}